<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Meditation Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome to Meditation Tracker</ion-title>
    </ion-toolbar>
  </ion-header>
<h1>Welcome to Meditation Tracker!</h1>
  <div id="MainText">
    This app helps you keep tabs on your consciousness by providing you with the tools to maintain meditative practice and attain peace of mind.
  </div>
  <div id="BowlPic"><img src="assets/images/bowl.png"></div>
</ion-content>
