<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Session Timer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Session Timer</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label>Alarm Sound</ion-label>
    <ion-select value="gong" id="alarmsound" [(ngModel)]="sound">
      <ion-select-option value="gong">Gong</ion-select-option>
      <ion-select-option value="bowl">Singing Bowl</ion-select-option>
      <ion-select-option value="block">Wood Block</ion-select-option>
    </ion-select>
  </ion-item>
  <!-- <ion-row class="ion-justify-content-center"> -->
  <!-- <ion-row> -->
  <svg
    id="progress-circle"
    width="80vh"
    height="auto"
    viewBox="0 0 200 200"
  >
    <linearGradient id="linearColors1" x1="0" y1="0" x2="1" y2="1">
      <stop offset="0%" stop-color="#aeb6bf"></stop>
      <stop offset="100%" stop-color="#2e4053"></stop>
    </linearGradient>-->
    <circle
      cx="50%"
      cy="50%"
      [attr.r]="circleR"
      fill="none"
      stroke="#f3f3f3"
      stroke-width="12"
    />
    <circle
      cx="50%"
      cy="50%"
      [attr.r]="circleR"
      fill="none"
      stroke="url(#linearColors1)"
      stroke-width="12"
      stroke-linecap="round"
      [attr.stroke-dasharray]="circleDasharray"
      [attr.stroke-dashoffset]="percentageOffset(percent | async)"
    
    />
    <text x="50%" y="55%" class="timer-text">{{ time | async }}</text>
  </svg>
  
  <!-- </ion-row> -->
<!-- </ion-row>  -->
</ion-content>
<ion-footer>
  
  <ion-item>
    <ion-label position="floating">How Many Minutes?</ion-label>
    <ion-input type="number" [(ngModel)]="minuteinput" [min]="0" placeholder="10"></ion-input>
  </ion-item>
  <ion-button *ngIf="state === 'stop'" expand="block" style="--background:  #229954" (click)="startTimer(minuteinput)">
    Start Timer</ion-button>
 <ion-button *ngIf="state === 'start'" expand="block" style="--background:  #a93226 " (click)="stopTimer()">
      Stop Timer</ion-button>
</ion-footer>

