<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Journal Entries
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Textarea in an item with a placeholder -->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Journal Entries</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item-sliding *ngFor="let temp of journal.myJournal" >
      <ion-item (click)="openModal(temp)">
        <ion-label position="floating">{{temp.entrydate | date : 'medium' }}</ion-label><br>
        <p class="tags">Tags: {{temp.tags.join(', ')}}</p>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="danger" expandable (click)="journal.removeEntry(temp)">
          <ion-icon name="trash" style="font-size: 42px;"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>